ul li {
  display: inline-block;
  position: relative;
}

ul li .dots :hover:before {
  content: '';
  position: absolute;
  bottom: -15px;
  background: #f09517;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  left: calc(50% - 8px);
}
